<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="website displays scores submitted by different players"
    />
    <meta name="author" content="Arturo Emanuel Guerra Iturres" />
    <link rel="icon" href="" type="image/png" />
    <link rel="apple-touch-icon" href="" type="image/png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main
      class="container d-flex flex-column justify-content-start vh-100 mt-5"
    >
      <img
        id="logo"
        class="logo align-self-center"
        alt="leaderboard logo"
        width="100%"
      />
      <h1 class="main-header align-self-center">Leaderboard</h1>
      <section
        class="main-section container d-flex justify-content-center gap-5 mt-5"
      >
        <div>
          <div class="form__action d-flex gap-2 align-items-center mb-3">
            <h2>Recent scores</h2>
            <input
              type="button"
              class="btn btn-success"
              value="Refresh"
              data-get-all-scores
            />
          </div>
          <div class="table-border">
            <table class="form__scores-table table table-striped mb-0">
              <tbody data-scores-holder>
                <!-- scores will be auto injected -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="add-score-container d-flex flex-column gap-3">
          <h3>Add your score</h3>
          <input
            type="text"
            name="name"
            minlength="2"
            maxlength="20"
            class="form-control"
            required
          />
          <input
            type="number"
            name="score"
            min="1"
            class="form-control"
            required
          />
          <input
            type="button"
            class="align-self-end btn btn-success"
            value="Submit"
            data-submit-new-score
          />
        </div>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/5d25a44371.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
